$background-color: rgb(177, 175, 104);
$primary-color: rgb(0, 4, 255);
$secondary-color: rgb(0, 4, 255);
$text-color: rgb(75, 75, 75);
$font-weights: ( 'regular': 400, 'medium': 500, 'bold': 700);
$mobile: 800px;